<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Введите информацию нового юзерчика</title>
</head>
<body>
<div>
  <form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for ="name">Введите имя: </label>
    <input type = "text" th:field="*{name}" id = "name"/>
    <br/>
    <label for="value">Введите значение: </label>
    <input type = "text" th:field="*{value}" id = "value"/>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
  </form>


</div>
</body>
</html>